Map WCF Service files with test/ConsoleApplication1/ConsoleApplication1/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameWCFservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameWCFservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AchievementPoints" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInformation" nillable="true" type="tns:UserInformation" />
</xs:schema>