Map WCF Service files with test/ConsoleApplication1/ConsoleApplication1/Service References/MapService/JsonMap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26388/JsonMap.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Sendmap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MapByteArray" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendmapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendmapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getmap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmapResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmapsFromUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmapsFromUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetmapsFromUserResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleMapsByMapIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="mapIds" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleMapsByMapIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMultipleMapsByMapIDsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMapsID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMapsIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllMapsIDResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendmapWithImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="imageByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="mapName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finalVersion" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendmapWithImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendmapWithImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMapInProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="imageByteArray" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="mapName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="finalVersion" type="xs:int" />
        <xs:element minOccurs="0" name="mapId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMapInProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMapInProgressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>